// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.row {
  background-color: white;
  padding: 20px;
}

.add_btn_blue {
 background-color:white;
  padding: 20px;
}
